*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Open Sans;
}

.tuitt-button {
	color: white;
	background-color: #c2195b;
	border-radius: 25px;
	height: 5vh;
	width: 8vw;
	float: right;
	font-weight: bold;
}

#logo{
	margin-left: 100px;
}
.apply-button{
	color: white;
	background-color: #c2195b;
	border-radius: 25px;
	height: 5vh;
	width: 8vw;
}

#bg-image{
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	height: 50vh;
	width: 100%;
	opacity: 1;
	background-position-y: 40%;
}

.front-bg{
	background-color: black;
	color: white;
	opacity: .5;
	min-height: 50vh;
}


.container{
	opacity: 1;
	text-align: right;
	margin-right: 120px;
}


.title, .title-2{
	font-family: Zilla Slab;
}

.pre-footer{
	background-color: #f7fbfb;
	text-align: center;
}

.prefooter-description{
	text-align: center;	
	font-size: 20px;
	margin-left: 10vw;
	margin-right: 10vw;
}	

.book-button{
	background-color: #336589;
}

footer{
	text-align: center;
}

nav{
	margin-top: 10px;
	padding-bottom: 8px;
	list-style: none;
	position: sticky;
	background-color: white;
	top: 0;
	border-bottom: 2px solid grey;
}

nav .nav, nav .nav-logo{
	margin-right: 0.5 rem;
	margin-left: 0.5 rem;
	display: inline-block;
	vertical-align: middle;
}

h1{
	margin-left: 50%;
	font-size: 50px;
	font-family: Open sans-serif;
}

.subtitle{
	margin-left: 60%;
	text-align: justify;
}

.intro h2{
	text-align: center;
}

.intro{
	margin-top: 100px;
	text-align: justify;
	font-size: 20px;
	margin-left: 11vw;
	margin-right: 11vw;
}

.title-2{
	font-weight: bold;
}

.book-button{
	color: white;
	border-radius: 25px;
	height: 5vh;
	width: 10vw;
}

 .right-nav {
    display: inline-block;
    float: right;
    width: 55%;
}

#h, #bp, #c, #b, #bl{
	margin-left: 20px;
	margin-right: 10px;
}